* text=auto !eol
/ACKNOWLEDGEMENTS -text
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/Makefile.am -text
/NEWS -text
/README -text
/apertium-nno-nob.nno-nob.dix -text
/apertium-nno-nob.nno-nob.lrx -text
/apertium-nno-nob.nno-nob.t1x -text
/apertium-nno-nob.nno-nob.t2x -text
/apertium-nno-nob.nno-nob.t3x -text
/apertium-nno-nob.nob-nno.lrx -text
/apertium-nno-nob.nob-nno.t1x -text
/apertium-nno-nob.nob-nno.t2x -text
/apertium-nno-nob.nob-nno.t3x -text
/autogen.sh -text
/configure.ac -text
dev/100000newspapermissing.txt.gz -text
dev/OBT-to-Apertium.sh -text
dev/ReTraTos.KDE4.dix -text
dev/ReTraTos.noreg.no.dix -text
dev/abbr.txt -text
dev/analyse-all-stages.sh -text
dev/apertium-nn-nb.multiwords.t1x -text
dev/bm.adj.dix -text
dev/coverage.sh -text
dev/current-OBT/LICENCE -text
dev/current-OBT/README -text
dev/current-OBT/bm_morf.cg -text
dev/current-OBT/bm_synt.cg -text
dev/current-OBT/nn_morf.cg -text
dev/current-OBT/nn_synt.cg -text
dev/dansknorsk-høgnorsk-todo.dix -text
dev/dix-nno-nob.el -text
dev/ihopskriving.html -text
dev/inc-Nordlys2000-not-in-dix.csv -text
dev/ordbanken2XML.sh -text
dev/precommit-testvoc.sh -text
dev/script-noreg.sh -text
dev/testvoc/bidix-unknowns.sh -text
dev/testvoc/generation.sh -text
dev/testvoc/streamparser.py -text
freerbmt09_nnnb/Makefile -text
freerbmt09_nnnb/apertium.bib -text
freerbmt09_nnnb/cgloss4e.sty -text
freerbmt09_nnnb/eval/00readme.bleu.txt -text
freerbmt09_nnnb/eval/1441.apertium.snt -text
freerbmt09_nnnb/eval/1441.nb.snt -text
freerbmt09_nnnb/eval/1441.nn.snt -text
freerbmt09_nnnb/eval/1441.nyno.snt -text
freerbmt09_nnnb/eval/500.apertium.result -text
freerbmt09_nnnb/eval/500.apertium.snt -text
freerbmt09_nnnb/eval/500.apertium.testset -text
freerbmt09_nnnb/eval/500.nb.snt -text
freerbmt09_nnnb/eval/500.nn.snt -text
freerbmt09_nnnb/eval/500.nyno.result -text
freerbmt09_nnnb/eval/500.nyno.snt -text
freerbmt09_nnnb/eval/500.nyno.testset -text
freerbmt09_nnnb/eval/500.wiki.snt -text
freerbmt09_nnnb/eval/CG-errors.txt -text
freerbmt09_nnnb/eval/bleu.pl -text
freerbmt09_nnnb/eval/noreg.no-nb.snt -text
freerbmt09_nnnb/eval/noreg.no-nb.txt -text
freerbmt09_nnnb/eval/noreg.no-nn.snt -text
freerbmt09_nnnb/eval/noreg.no-nn.txt -text
freerbmt09_nnnb/eval/noreg.no-nx.r15236.result -text
freerbmt09_nnnb/eval/noreg.no-nx.r15236.snt -text
freerbmt09_nnnb/eval/noreg.no-nx.r15236.test -text
freerbmt09_nnnb/eval/r15667_vs_nyno.ods -text
freerbmt09_nnnb/eval/testnb -text
freerbmt09_nnnb/eval/testnn -text
freerbmt09_nnnb/freerbmt09.sty -text
freerbmt09_nnnb/freerbmt09_nnnb.bib -text
freerbmt09_nnnb/freerbmt09_nnnb.tex -text
freerbmt09_nnnb/linguex.sty -text
freerbmt09_nnnb/linguho.sty -text
freerbmt09_nnnb/notes.org -text
/modes.xml -text
/nno-nob-unsupervised.make -text
/nob-nno-unsupervised.make -text
t/README.org -text
t/config.sh -text
t/latest-pending.results -text
t/latest-regression.results -text
t/pending-tests -text
t/regression-tests -text
t/update-latest -text
t/wiki-tests -text
/tid.pm -text
/wikifix-nob-nno.pl -text
