/*.bin
/*.cache
/*.in
/*.log
/*.mode
/*.status
/.deps
/INSTALL
/INSTALL*.bin
/Makefile
/Makefile.in
/aclocal.m4
/ap_include.am
/autom4te.cache
/config
/config.guess
/config.log
/config.status
/config.sub
/configure
freerbmt09_nnnb/*.aux
freerbmt09_nnnb/*.bbl
freerbmt09_nnnb/*.blg
freerbmt09_nnnb/*.dvi
freerbmt09_nnnb/*.log
freerbmt09_nnnb/*.out
freerbmt09_nnnb/*.pdf
/install-sh
/ltmain.sh
/missing
/modes
/nno-nob.prob
/nob-nno.prob
/stamp-h1
