* text=auto !eol
/ACKNOWLEDGEMENTS -text
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/Makefile.am -text
/NEWS -text
/README -text
/apertium-nn-nb.nb-nn.rlx -text
/apertium-nn-nb.nb-nn.t1x -text
/apertium-nn-nb.nb.dix -text
/apertium-nn-nb.nb.tsx -text
/apertium-nn-nb.nn-nb.dix -text
/apertium-nn-nb.nn-nb.rlx -text
/apertium-nn-nb.nn-nb.t1x -text
/apertium-nn-nb.nn.dix -text
/apertium-nn-nb.nn.tsx -text
/autogen.sh -text
/bm.adj.xml -text
/configure.ac -text
/modes.xml -text
/nb-nn.prob -text
/nn-nb.prob -text
/pending-tests.sh -text
/regression-tests.sh -text
/wiki-tests.sh -text
