* text=auto !eol
/ACKNOWLEDGEMENTS -text
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/Makefile.am -text
/NEWS -text
/OBT-to-Apertium.sh -text
/README -text
/apertium-nn-nb.nb-nn.rlx -text
/apertium-nn-nb.nb-nn.t1x -text
/apertium-nn-nb.nb.dix -text
/apertium-nn-nb.nb.tsx -text
/apertium-nn-nb.nn-nb.dix -text
/apertium-nn-nb.nn-nb.rlx -text
/apertium-nn-nb.nn-nb.t1x -text
/apertium-nn-nb.nn.dix -text
/apertium-nn-nb.nn.tsx -text
/autogen.sh -text
/configure.ac -text
dev/100000newspapermissing.txt -text
dev/100k-missing.tar.gz -text
dev/bidix.adv -text
dev/bidix.nouns -text
dev/bidix.pr -text
dev/bidix.vblex -text
dev/bm.adj.xml -text
dev/dictionary-trimmer.py -text
dev/inconsistency.sh -text
dev/infreq-apertium-nn-nb.nb.dix -text
dev/infreq-apertium-nn-nb.nn.dix -text
dev/np-top.list -text
dev/ordbanken2XML.sh -text
dev/untrimmed-apertium-nn-nb.nb.dix -text
dev/untrimmed-apertium-nn-nb.nn.dix -text
/modes.xml -text
/nb-nn.prob -text
/nn-nb.prob -text
/pending-tests.sh -text
/regression-tests.sh -text
/wiki-tests.sh -text
