language: python

# let linux be Ubuntu 14.04 Trusty
sudo: required
dist: trusty

python:
    - "3.5"

before_script:
    - wget https://apertium.projectjj.com/apt/install-nightly.sh -O - | sudo bash
    - sudo apt-get -f install apertium-all-dev dwdiff
    - git clone https://github.com/apertium/apertium-nob /tmp/apertium-nob
    - git clone https://github.com/apertium/apertium-nno /tmp/apertium-nno
    - ( cd /tmp/apertium-nob && ./autogen.sh )
    - ( cd /tmp/apertium-nno && ./autogen.sh )
    - ./autogen.sh --with-lang1=/tmp/apertium-nno --with-lang2=/tmp/apertium-nob

# The apertium/diff steps below are temporary
script:
    - ( cd /tmp/apertium-nno && make -j nno.autogen.bin nno_e.autogen.bin )
    - make -j e
    - apertium -d . nob-nno_e < dev/ntb/articles.orig.nob > dev/ntb/articles.nob-nno
    - diff -U0 dev/ntb/articles.nob-nno.20181119 dev/ntb/articles.nob-nno | dwdiff --diff-input -c | grep -v "@@.*@@" || true
    - make -j langs && make -j test && t/wer-loss
# Travis only looks at the exit code of the last command! https://github.com/travis-ci/travis-ci/issues/1066

notifications:
    irc:
        channels:
            - secure: "jMRqT7lndd2vTXON34HHdNQ6v+DSOSUQZwKXsJytw9F55pPPS4z+76vTChHKdNcp4nV5nWhCarZR2X4bK7qWO5i25XIXsffFm4TK/XWDdZgLKHCS431mzcSVrYYASC0nn15HgGAl/H6dMksNThuV5gaItSPcKNXC9amBYLbTeSt/H+rxDBuPs+m7yy049EySTWjUoFacel7HDoTEXQyl82Ks5I0oJM+ErgS1VAe6RPiXIH+eBGbPT0YoVYUS1WoKSZYaLhLZ/jOLDnnTiFhTn/f8+uZrbAfLGWzkp9/NbyMCByQFH48HFzjudOD6BgxRumJaDFhImrKrDvPpMulXB1MLl+JD9mK+lioLaqUiUu+2wkBJ90bvOCNqhKLR94upev7Skg52n96Wc91EfiVxuwiLDJOzwFAbZ9VaziNI/Ld3y1qHO84spV7R7AWFhI34xGNkAOCJ1sZZWcH2rGFjsldLNPHeyhNBaZhxGdGdVvrbTm0jbR4G0iD54BLK1IPuJt/eaETWrAnE2XgDnJ3PE9JKtFOe5tpuhF/R9s8qFYGEVmG9SnSxqJax7K6XcQ6utla10qFX0mR5Ub8S+Ryu9fN5+g+U2fCrfJrH44RhDCz961SGcRYVaWDITtDTeAtBGP6G0jOkNv8yi21ha50y4uDxvXq1ETfoHLeYwzzCHmU="
    on_failure: always
    on_success: never
# The irc channel is encrypted for goavki/apertium-apy, so build notifications from forks won't show up on the IRC channel
# Encrypt with:
# $ gem install --user-install travis
# $ ~/.gem/ruby/*/bin/travis encrypt -r goavki/apertium-apy 'chat.freenode.net#apertium'
